
:root {
    --font-size: 24px;
}

body {
    color: #000000;
    font-family: helvetica, sans-serif;
}

H1 {
    font-size: var(--font-size);
}


.flash {
  animation:flashColor 0.8s infinite;
  width: var(--font-size);
  height:var(--font-size);
  border: 1px solid #f00;
  border-radius: 50%;
  background-color: #f00;
}

@keyframes flashColor{
  0%{     border: 1px solid #f00; background-color: #f00;   }
  50%{    border: 1px solid rgb(192, 189, 0); background-color:rgb(192, 189, 0);}
  100%{   border: 1px solid rgb(170, 82, 0); background-color: rgb(170, 82, 0);}
}


.reddot{
  width: var(--font-size);
  height:var(--font-size);
  border: 1px solid #f00;
  border-radius: 50%;
  background-color: #f00;
}

.greendot{
    width: var(--font-size);
    height:var(--font-size);
    border: 1px solid #00AA00;
    border-radius: 50%;
    background-color: #00AA00;
  }

  .reddot_s{
    width: calc(  var(--font-size)/2 );
    height: calc( var(--font-size)/2 );
    border: 1px solid #f00;
    border-radius: 50%;
    background-color: #f00;
  }
  
  .greendot_s{
      width: calc(  var(--font-size)/2 );
      height: calc( var(--font-size)/2 );
      border: 1px solid #00AA00;
      border-radius: 50%;
      background-color: #00AA00;
    }

  .greydot_s{
      width: calc(  var(--font-size)/2 );
      height: calc( var(--font-size)/2 );
      border: 1px solid #808080;
      border-radius: 50%;
      background-color: #808080;
  }    


  .overall_container {
      display: flex;
      justify-content:left;
      align-items: center;
  }

  .zone {
    display: flex;
    justify-content:left;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
}

.timestamp {
  font-size: 14px;
  color: #808080;
  font-family: 'Courier New', Courier, monospace
}


.lastevent_container {
  font-size: 14px;
  color: #808080;
  font-family: 'Courier New', Courier, monospace
}


.digitbutton {
  font-size: var(--font-size);
}

fieldset {
  border-style: none;
}


.buttonlink  {
  background-color: red;
color: white;
padding: 1em 1.5em;
text-decoration: none;
text-transform: uppercase;
}

.buttonlink:hover {
background-color: #555;
}

.buttonlink:active {
background-color: black;
}

.buttonlink:visited {
background-color: #red;
}

#zone_template {
  visibility: hidden;
}

/* slider */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: var(--font-size);
    margin-left: 5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }